## 언어 분석 모델
- 알파벳 26개를 사용하는 언어를 식별할 수 있따
- 언어마다 사용하는 알파벳 빈도는 다르다

## 모델
- 알파벳 입력 시 해당 언어를 출력한다

## 데이터
- '../datas/240321. assignment/'의 test, train 파일

## target : if data.find('en'): english, 
##                      ('fr'): french,
##                      ('id') : indonesian,
##                      ('tl') : thailand

In [2]:
#import model

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch
import torch.nn as nn
import torch.optim as optim
import os

In [7]:
#load data
def loadingdata(folderpath):
    datalist = []
    labels = []
    
    for file in os.listdir(folderpath):
        if file.endswith(".txt"):
            datalist.append(file)
                
    for file in os.listdir(folderpath):
        if file.find('en'):
            labels.append('en')
        elif file.find('fr'):
            labels.append('fr')
        elif file.find('id'):
            labels.append('id')
        elif file.find('tl'):
            labels.append('tl')
            
    return datalist, labels

In [8]:
trainpath = '../datas/240321. assignment/train/'
testpath = '../datas/240321. assignment/test/'

trainlabels = loadingdata(trainpath)
testlabels = loadingdata(testpath)

In [17]:
#train data
for i in range(len(trainlabels[0])):
    with open(trainpath + trainlabels[0][i], 'r', encoding='utf-8') as f:
        train_data = f.read().split('\n')
        train_data = pd.DataFrame(train_data, columns=['text'])

In [18]:
#test data

for i in range(len(testlabels[0])):
    with open(testpath + testlabels[0][i], 'r', encoding='utf-8') as f:
        test_data = f.read().split('\n')
        test_data = pd.DataFrame(test_data,columns=['text'])

In [19]:
train_data.to_csv('../datas/240321. assignment/train_data.csv', index=False)
test_data.to_csv('../datas/240321. assignment/test_data.csv', index=False)

In [20]:
train = pd.read_csv('../datas/240321. assignment/train_data.csv')
test = pd.read_csv('../datas/240321. assignment/test_data.csv')

In [22]:
train.head()

                                         text
0                                         NaN
1  Nengneng met so: Pangasinan (panpalinewan)
2                                         NaN
3                                         NaN
4                                         NaN

In [23]:
train

                                           text
0                                           NaN
1    Nengneng met so: Pangasinan (panpalinewan)
2                                           NaN
3                                           NaN
4                                           NaN
..                                          ...
270                                         NaN
271                                         NaN
272                                         NaN
273                                         NaN
274                                         NaN

[275 rows x 1 columns]

In [24]:
test.head()

         text
0         NaN
1  Apple Inc.
2         NaN
3         NaN
4         NaN

In [25]:
train.shape

(275, 1)

In [26]:
test.shape

(73, 1)

In [27]:
train.isnull().sum()

text    77
dtype: int64

In [28]:
test.isnull().sum()

text    41
dtype: int64

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    198 non-null    object
dtypes: object(1)
memory usage: 2.3+ KB

In [30]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    32 non-null     object
dtypes: object(1)
memory usage: 712.0+ bytes

In [31]:
train.describe()

                                              text
count                                          198
unique                                         198
top     Nengneng met so: Pangasinan (panpalinewan)
freq                                             1

In [32]:
test.describe()

              text
count           32
unique          32
top     Apple Inc.
freq             1

In [33]:
train.isnull().sum()

text    77
dtype: int64

In [34]:
test.isnull().sum()

text    41
dtype: int64

In [35]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [36]:
train.isnull().sum()

text    0
dtype: int64

In [37]:
test.isnull().sum()

text    0
dtype: int64

In [38]:
train.head()

                                                text
1         Nengneng met so: Pangasinan (panpalinewan)
5  Say Pangasinan et unaan ya klase luyag na Rehi...
6  Walay kabaleg tan sukat to ya 5,451.01 kilomet...
7  Say salitan Pangasinan so kumasakey ya salita ...
8  Say ngaran ya Pangasinan so labay ton ibaga da...

In [39]:
test.head()

                                                 text
1                                          Apple Inc.
7   Apple Campus (1 Infinite Loop, Cupertino, Cali...
11                                                Uri
12                          Pampubliko (NASDAQ: AAPL)
15                                         Industriya

In [40]:
train.to_csv('../datas/240321. assignment/train_data.csv', index=False)
test.to_csv('../datas/240321. assignment/test_data.csv', index=False)

In [41]:
train = pd.read_csv('../datas/240321. assignment/train_data.csv')

In [42]:
test = pd.read_csv('../datas/240321. assignment/test_data.csv')

In [43]:
train.head()

                                                text
0         Nengneng met so: Pangasinan (panpalinewan)
1  Say Pangasinan et unaan ya klase luyag na Rehi...
2  Walay kabaleg tan sukat to ya 5,451.01 kilomet...
3  Say salitan Pangasinan so kumasakey ya salita ...
4  Say ngaran ya Pangasinan so labay ton ibaga da...

In [44]:
test.head()

                                                text
0                                         Apple Inc.
1  Apple Campus (1 Infinite Loop, Cupertino, Cali...
2                                                Uri
3                          Pampubliko (NASDAQ: AAPL)
4                                         Industriya